<div class="App">
  <h2>Beers</h2>
  <table>
    <thead>
    <tr>
      <th align="left">Product</th>
      <th align="left">Temperature</th>
      <th align="left">Status</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productService.products$ | async">
        <td width="150">{{ product.name }}</td>
        <td width="150">{{ $any(product).temperature }}</td>
        <td width="150">{{ productService.getStatusFor(product) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
